 /* *{
  background-color: black;
}  */
.long-input{
  min-width: 50%;
}
.remove-arrow::-webkit-inner-spin-button, .remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shadow-show{
  box-shadow:'0 0 10px 0px white';
}
.box-width{
  width:80vw;
}
.outer-container{
  height: 350px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
  justify-content: flex-end;
  /* background-color: red; */
  border-radius: 7px;
  background: radial-gradient(at bottom, rgba(225, 0, 0, .6),  rgba(225, 0, 0, .5), rgba(50, 50, 57, 1.0));
  padding-bottom: 20px;
  border: .1px solid rgb(10, 10, 10);
}
.range{
  height:2rem;
  /* overflow: hidden; */
  display:flex;
  cursor:grab;
}
.red{
  
  /* background-color: red; */
  height: 100%;
  box-shadow: 0 0 3rem rgba(225, 0, 0, .8);
}
.lime{

  /* background-color: lime; */
  height: 100%;
  box-shadow: 0 0 3rem rgba(50, 205, 50, .8);
}
.dot-popping{
  width: 5px;
  height: 5px;
  background-color: lime;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 999999999;
  /* animation: dotmove 2s linear  infinite; */
}
/* @keyframes dotmove {
  0%{

    top: 50%;
  bottom: 50%;
  right: 50%;

  }
  20%{
    

    right: 200px;
    top: 50%;
    bottom: 50%;
  }
   40%{
    

    top: 80%;

  }


} */
.dice{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 10px;
  grid-template-columns: repeat(3, 1fr);
  display:grid;
  cursor: pointer;
}
.roll-animation{
  animation: dicespin 2s linear 1.4s alternate infinite;
  
}
@keyframes dicespin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.dot{
  width: 6px;
  height: 6px;
  background-color: purple;
  border-radius: 50%;
  z-index: 9999;
  margin: 5px 3px;
  transition: transform .5s ease-in-out;
}
.dot-added{
  transform: scale(1.5);
}
.dot-removed{
  transform: scale(0);
}
/* @keyframes animate{
  0%{
      background-color:rgb(240, 132, 132);
  }

 100%{
      background-color:red;
      box-shadow:0 0 10px red, 
      0 0 20px red,
      0 0 40px red,
      0 0 60px red,
      0 0 80px red
  }
} */